  <div class="popup-close" id="popup_mount">
  </div>
  
  <!-- page content -->
  <div class="right_col" role="main">
  
    <div class="page-title">
      <div class="title_left">
        <h3>Volume</h3> 
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 pull-right">
          <button class="btn btn-primary pull-right" onclick="volume_create">
            Create
          </button>
        </div>
      </div>
    </div>
    
    <div class="clearfix"></div>

    <div class="row">
      <%@volumes.each do |t|%>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Infomation <small><%=t["Volume Name"]%></small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i <%if t!=@volumes[0]%> class="fa fa-chevron-down" <%else%> class="fa fa-chevron-up" <%end%> ></i></a>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link" style="display:none;"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            
            <div class="x_content" <%if t!=@volumes[0]%> style="display: none;" <%end%> >
              
              <div class="col-md-4 col-sm-4 col-xs-4">
                <p class="text-muted font-13 m-b-30"><code>Volume Info</code></p>
                Type : <%=t["Type"]%> <br>
                Volume ID : <%=t["Volume ID"]%> <br>
                Status : <%=t["Status"]%> <br>
                Number of Bricks : <%=t["Number of Bricks"]%> <br>
                Transport-type : <%=t["Transport-type"]%> <br>
                Bricks : <%=t["Bricks"]%> <br>
                Bricks1 : <%=t["Brick1"]%> <br>
                Options Reconfigured : <%=t["Options Reconfigured"]%> <br>
                performance.readdir-ahead : <%=t["performance.readdir-ahead"]%>
                <br><br><br>
	            	
	            	<% if t["Status"] == " Stopped" %>	
	            	  
	            	  <a class="btn btn-app" href="/volume/start/<%=t['Volume Name']%>">
                    <i class="fa fa-play" style="color:#26B99A;"></i> 
                    <p style="color:#26B99A;">Start</p>
                  </a>
		              <a class="btn btn-app" href="/volume/delete/<%=t['Volume Name']%>">
                    <i class="fa fa-trash"></i> Delete
                  </a>
                  
	            	<% else %>
	            	
	            	  <a class="btn btn-app" href="/volume/stop/<%=t['Volume Name']%>">
                    <i class="fa fa-pause" style="color:#d9534f;"></i> 
                    <p style="color:#d9534f;">Stop</p>
                  </a>
                  
                  <button class="btn btn-app" id="Btn_Mount">
                    <i class="fa fa-upload"></i> Mount
                  </button>
                  
                  <div id="test1">
                  </div>
        
                  <!--
                  <form class="form-horizontal form-label-right" action="/volume/mount" method="post">
                    
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-3" for="mount_point">Mount Point</label>
                      <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" name="mount_point" required="required" class="form-control"></div>
                    </div>
                    
                    <input type="hidden" name="volume_name" value="<%=t['Volume Name']%>" />
      		          
      		          <button class="btn btn-app" type="submit">
                      <i class="fa fa-upload"></i> Mount
                    </button>
                    
                  </form>
                  -->
                  
                <% end %>
		          </div>
              
              <div class="col-md-8 col-sm-8 col-xs-8">
                <p>Drag multiple files to the box below for multi upload or click to select files.</p>
                <form action="/file_upload" method="post" enctype="multipart/form-data" class="dropzone" style="border: 1px solid #e5e5e5; height: 300px; overflow:auto;">
                </form>
                <br/>
              </div>
              
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <!-- /page content -->


 

  <!-- volume functions -->
  <script>
    function volume_create() {
      
    }
  </script>

  <script type="text/javascript">
    $('#Btn_Mount').on('click', function(event){
      
      $('#popup_mount').attr("class", "popup");
      $('#popup_mount').on('click', function(event){
        $('#popup_mount').attr("class", "popup-close")
      })
      
      
      
    })
  </script>