<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "gluster-web" %> </title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="nav-md">
<div class="container body">
  <% flash.each do |key, value| %>
    <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %>
      <a href="#" data-dismiss="alert" class="close">×</a>
    </div>
  <% end %>

<%= render "partials/sidenav" %>
<%= render "partials/topnav" %>

<%= yield %>

<%= render "partials/footer" %>
<%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => false %>

</body>
</html>
