<!DOCTYPE html>
<html>
<head>
  <title>GentelellaOnRails</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <style>
    /*Devise flash*/
    .alert-error {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: center;
    }
    .alert-alert {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: center;
    }
    .alert-notice {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
      text-align: left;
    }
  </style>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background:#F7F7F7;">

<div class="container body">

  <% flash.each do |key, value| %>
      <div align="center" id="flash" class="alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul style="text-align: center">
          <l>
          <b> <%= value %>  </b>
          </l>
        </ul>
      </div>
  <% end %>


  <%= yield %>

</body>

