<%#/devise/sessions/new.html.erb %>

<div class="">
  <a class="hiddenanchor" id="tologin"></a>
  <a class="hiddenanchor" id="toregister"></a>
  <div id="wrapper">
    <div id="login" class="animate form">
      <section class="login_content">
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <h1>Create Account</h1>
          
             <div align="center" id="flash" class="alert alert-alert">
                <a href="#" data-dismiss="alert" class="close">×</a>
                <ul style="text-align: center">
                  <l>
                     <%= devise_error_messages! %> 
                  </l>
                </ul>
              </div>
      
          <div>
            <%= f.text_field :username, autofocus: true , class: "form-control", placeholder: "Username", required: ""%>
          </div>
          
          <div>
            <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: "Email", required: ""%>
          </div>
          <div>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", required: "" %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password confirmation", required: ""  %>
          </div>
          
          <div>  
            <%= f.submit "Sign up", :class => "btn btn-default submit" %>
          </div>
          <div class="clearfix"></div>
          <div class="separator">

            <p class="change_link">Already a member ?
              <a href="#toregister" class="to_register"> Log in </a>
            </p>
            <div class="clearfix"></div>
            <br />
            <div>
              <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>

              <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
            </div>
          </div>

<% end %>
        <!-- form -->
      </section>
      <!-- content -->
    </div>
    
     <div id="register" class="animate form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1>Login Formzz</h1>
          <div>
            <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder =>"Email",  :required => ""  %>

          </div>
          <div>

            <%= f.password_field :password, autofocus: true, :class => "form-control", :placeholder =>"Password",  :required => ""  %>

          </div>


            <% if devise_mapping.rememberable? -%>
                <div class="checkbox-inline">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
            <% end -%>


            <div>

            <%= f.submit "Log in", :class => "btn btn-default submit"%>

            <a class="reset_pass" href="#">Lost your password?</a>
          </div>
          <div class="clearfix"></div>
          <div class="separator">

            <p class="change_link">New to site?
              <a href="#tologin" class="to_register"> Create Account </a>
            </p>
            <div class="clearfix"></div>
            <br />
            <div>
              <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>

              <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
            </div>
          </div>
        <% end %>
        <!-- form -->
      </section>
      <!-- content -->
    </div>
    
    
  </div>
</div>


<!--
<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
-->
